.rec-carousel {
  width: 90vw;
  max-width: 1200px;
  margin: 2.5rem auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.rec.rec-arrow {
  background-color: rgba(49, 48, 48, 0.404);
  color: #ffffff;

  &:focus:enabled,
  &:hover:enabled {
    background-color: rgba(49, 48, 48, 0.404);
  }

  &:disabled {
    opacity: 0;
  }
}

.rec.rec-pagination {
  display: none;
}
