@import "../Vars.scss";

.carousel-item {
  width: 17.5rem;
  height: 16.625rem;
  border-radius: 1.25rem;
  overflow: hidden;
  font-size: 1.25rem;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  position: relative;

  &__img {
    width: 17.5rem;
    height: 16.625rem;
    object-fit: cover;
  }

  &__details {
    background: $item-gradient;
    font-size: 1rem;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    &--actions {
      display: flex;
    }

    &--img {
      width: 2rem;
      height: 2rem;
      margin-left: 1rem;
      margin-right: 1.5rem;
      margin-bottom: 0.5rem;
      border-radius: 50%;
      box-shadow: 5px 3px 5px 0px rgba(0, 0, 0, 0.6);
    }

    &--info {
      color: $font-color;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 0 0 0.5rem 1rem;
      border: none;
    }

    &--title {
      width: 100%;
      margin-top: 0.5rem;
      font-size: 1rem;
      line-height: 1rem;
    }

    &--genre {
      width: 100%;
      margin: 0.3rem 0;
      text-transform: uppercase;
      font-size: 0.75rem;
    }

    &--subtitle {
      width: 100%;
      font-size: 0.9rem;
      margin: 0;
      padding: 0.5rem;
    }
  }
}
