@import "../Vars.scss";

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 6.25rem;
  width: 100%;
  background-color: $footer-background;

  a {
    color: $font-color;
    cursor: pointer;
    font-size: 0.875rem;
    padding-left: 1.875rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
