@import "../Vars.scss";

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: $footer-background;

    a {
        color: $font-color;
        cursor: pointer;
        font-size: 14px;
        padding-left: 30px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

    }
    
}