.not-found {
  background: linear-gradient(#e2a036, #ee7674);
  text-align: center;
  color: white;

  &__container {
    width: 100%;
    min-height: calc(100vh - 5.25rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 5.625rem;
    margin: 0;
  }

  p {
    font-size: 1.563rem;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 1.563rem;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.625rem;
    margin: 0.938rem;
    display: inline-block;
  }
}
