@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: radial-gradient(circle, rgba(64,224,144,1) 0%, rgba(112,70,163,1) 100%);
  font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
    font-family: 'Poppins', sans-serif;
}

button {
    outline: none;
}



