@import "./Vars.scss";
@import "./Media.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $back-gradient;
  font-family: $theme-font;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  font-family: $theme-font;
}

button {
  outline: none;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-back;
  border-radius: 0.25rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background: $scrollbar-color;
  border-radius: 0.25rem;
}

::-webkit-scrollbar:hover {
  background: $scrollbar-hover;
  box-shadow: 0 0.125rem 0.063rem rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar:hover:active {
  background: $scrollbar-active;
}
